Home.css

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #424447;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  /* height: 100%; */
  width: 250px;
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f0f0f0;
  overflow-y: auto;
}
