/* SignUp.css */
body {
    /* margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4a90e2, #a348d4); */
  }
  
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .signup-form {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .signup-form h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
  }
  
  .signup-form .form-group {
    margin-bottom: 2rem;
    position: relative;
  }
  
  .signup-form .form-group input {
    width: 100%;
    padding: 0.75rem 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 1rem;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  }
  
  .signup-form .form-group input:focus {
    border-bottom: 2px solid #4a90e2;
  }
  
  .signup-form .icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
    color: #666;
  }
  
  .signup-form .icon:hover {
    color: #333;
  }
  
  .signup-form .password-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.25rem;
    color: #666;
  }
  
  .signup-form .password-toggle:hover {
    color: #333;
  }
  
  .signup-form .error {
    position: absolute;
    left: 0;
    bottom: -1.5rem; /* Adjust this value as needed to place the error message appropriately */
    color: red;
    font-size: 0.875rem;
    margin: 0; /* Remove margin to avoid affecting layout */
  }
  
  .signup-form button[type="submit"] {
    width: 100%;
    background-color: #4a90e2;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signup-form button[type="submit"]:hover {
    background-color: #3b76c1;
  }
  
  .signup-form .login-link {
    text-align: center;
    margin-top: 1rem;
  }
  
  .signup-form .login-link a {
    color: #4a90e2;
    text-decoration: none;
  }
  
  .signup-form .login-link a:hover {
    text-decoration: underline;
  }
  